
  <body>
    <openlayers ol-center="maroc" 
    		ol-defaults="defaults"
    		width="100%" 
    		height="400px">
    		<ol-marker ol-marker-properties="santiago" ></ol-marker> 
    		
    		
    		<ol-marker name="test" lat="33.594976707771536" lon="-7.323191175558381"></ol-marker>   
    			
    		<ol-path ol-geom-properties="marker"></ol-path>
    		
    			
    		<ol-path message="marker" coords=" [[[-58.38,-34.60],[15.52,38.23],[33.59,-7.32]]]"></ol-path>	
          	<ol-path message="another path" coords="[[[-58.38,-34.70], [-58.38,-34.80]]]"></ol-path>
          	<ol-path message="Hello" coords="[[[-58.48,-34.40], [-58.58,-34.50]]]"></ol-path> 
          	
          			
    </openlayers>
    
 </body>
