/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image
	{
		display: inline !important;
		width: auto !important;
	}

		.image-left img
		{
			width: auto;
		}

	.box
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header 
	{
	}

		#header > .\35 grid-layout
		{
			position: relative;
		}

		#header h1 
		{
			position: absolute;
			left: 0;
			top: 0;
		}
		
			#header h1 a 
			{
				display: block;
				float: left;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav 
	{
		position: absolute;
		right: 0;
		top: 0;
	}
	
		#nav ul 
		{
			overflow: hidden;
 		}
		
		#nav li 
		{
			display: block;
			float: left;
		}
